{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block content %}
    <h2>Nous contacter</h2>
    <p>N'hésitez pas à prendre contact avec notre équipe, nous vous répondrons dans les meilleurs délais.</p>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-8">{{ form(form) }}</div>
        <div class="col-md-4">
            <strong>Ma super boutique</strong>
            <hr>
            06 20 30 40 50<br/>
            8 rue du dinar, 1053 Tunis.<br/>
            adam.bedoui@esprit.tn<br/>
        </div>
    </div>

{% endblock %}
